**Задача 1**. Дано слово из латинских букв. Напишите скрипт, который выводит на экран букву из середины слова (если число букв нечетное). Если букв четное число, то на экран выводятся две буквы из середины.  

Пример: для 'test' должно выводится 'es', для 'testing' - 't'

In [10]:
user_word = str (input('Введите слово'))
length = len (user_word)
parity = length % 2
midlle = length // 2
midlle2 = midlle -1
midlle3 = midlle + 1
if parity != 0:
    print(user_word[midlle])
else:
    print(user_word [midlle2:midlle3])

Введите словоtest
es

**Задача 2**. Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек (их число может варьироваться):

In [3]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
print('Идеальные пары:')
for i,J in zip(sorted(boys), sorted(girls)):
    print(i, "и", J)

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! "Познакомить" пары нам поможет функция zip, а в цикле распакуем zip-объект и выведем информацию в виде:

Идеальные пары:  
Alex и Emma  
Arthur и Kate  
John и Kira  
Peter и Liza  
Richard и Trisha

**Внимание! Если количество людей в списках будет не совпадать, то мы никого знакомить не будет и выведем пользователю предупреждение, что кто-то может остаться без пары!**

**Задача 3**. У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за недельный период по странам.
Необходимо написать код, который рассчитает среднюю температуру за неделю в Цельсиях для каждой страны.

In [25]:
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]

In [152]:
first, second, Third, Fourth = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]
i = 0
sum1 = 0
sum2 = 0
sum3 = 0
sum4 = 0
while i < 7:
    cels1 = (first[1][i]  - 32) * 5 / 9
    cels2 = (second[1][i]  - 32) * 5 / 9
    cels3 = (Third[1][i]  - 32) * 5 / 9
    cels4 = (Fourth[1][i]  - 32) * 5 / 9
    i= i + 1
    sum1 += cels1
    sum2 += cels2
    sum3 += cels3
    sum4 += cels4
midlle1 = sum1 / 7
midlle2 = sum2 / 7
midlle3 = sum3 / 7
midlle4 = sum4 / 7
print(first[0], midlle1)    
print(second[0], midlle2)
print(Third[0], midlle3)
print(Fourth[0], midlle4)

Thailand 23.857142857142858
Germany 13.714285714285714
Russia 3.7142857142857144
Poland 11.857142857142858

**Задача 4.** Дан поток логов по количеству просмотренных страниц для каждого пользователя. Список отсортирован по ID пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. 
Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.

In [147]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]
sum=0
for el in stream:
    my_stream = el.split(',')
    sum += (int(my_stream[2]))
hit_per_user = sum / len(set(stream))
hit_per_user

7.75

**Задача 5**. Дана статистика рекламных кампаний по дням. Напишите алгоритм, который по паре дата-кампания ищет значение численного столбца. 
Т. е. для даты '2018-01-01' и 'google' нужно получить число 25. 
Считайте, что все комбинации дата-кампания уникальны.

In [181]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]
data = input('Введите дату')
sorse = input('Введите источник').lower()
for stats in stats:
    if data in stats and sorse in stats:
        print(stats[2])

Введите дату2018-01-02
Введите источникmarket
994

**Задача 6**. Дан список вида:

In [1]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]

Напишите код, который будет вычислять сумму элементов на диагонали. Т. е. 13+32+23+35.  
Список может быть любой длины, но всегда является "квадратным" (количество элементов во вложенных списках равно их количеству).

In [191]:
fist, second, third, fourh = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]
sum = fist[i] + second[i+1] + third[i+2] + fourh[i+3]
sum

103

In [81]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]
sum=0
el=0
for el in data:
    x = list(enumerate(el))
    for ind in x:
        ind = int(ind[0])
    sum += el[ind]
sum

211

In [163]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]
sum=0
i = 0
print(data[i][i])
for el in data:
    if i <= len(el)-1:
        datai = data[i+1][i+1] 
        print(data[i+1][i+1])
        i += 1
sum += (data[i][i] + data[i+1][i+1])
sum

13
32
23
35

IndexError: list index out of range